<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :player0 %><br />
    <%= f.text_field :player0 %>
  </div>
  <div class="field">
    <%= f.label :player1 %><br />
    <%= f.text_field :player1 %>
  </div>
  <div class="field">
    <%= f.label :player2 %><br />
    <%= f.text_field :player2 %>
  </div>
  <div class="field">
    <%= f.label :player3 %><br />
    <%= f.text_field :player3 %>
  </div>
  <div class="field">
    <%= f.label :player4 %><br />
    <%= f.text_field :player4 %>
  </div>
  <div class="field">
    <%= f.label :player5 %><br />
    <%= f.text_field :player5 %>
  </div>
  <div class="field">
    <%= f.label :player6 %><br />
    <%= f.text_field :player6 %>
  </div>
  <div class="field">
    <%= f.label :player7 %><br />
    <%= f.text_field :player7 %>
  </div>
  <div class="field">
    <%= f.label :player8 %><br />
    <%= f.text_field :player8 %>
  </div>
  <div class="field">
    <%= f.label :player9 %><br />
    <%= f.text_field :player9 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
