<h1>New team</h1>

<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <input class="autocomplete" id="players" />
  <script>
    $(document).ready(function(){
      var data = [<%=raw  @players.join(',') %>];
      $("#players").autocomplete(data);
    });

  </script>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :player0 %>
    <%= f.text_field :player0 %>
  </div>
  <div class="field">
    <%= f.label :player1 %>
    <%= f.text_field :player1 %>
  </div>
  <div class="field">
    <%= f.label :player2 %>
    <%= f.text_field :player2 %>
  </div>
  <div class="field">
    <%= f.label :player3 %>
    <%= f.text_field :player3 %>
  </div>
  <div class="field">
    <%= f.label :player4 %>
    <%= f.text_field :player4 %>
  </div>
  <div class="field">
    <%= f.label :player5 %>
    <%= f.text_field :player5 %>
  </div>
  <div class="field">
    <%= f.label :player6 %>
    <%= f.text_field :player6 %>
  </div>
  <div class="field">
    <%= f.label :player7 %>
    <%= f.text_field :player7 %>
  </div>
  <div class="field">
    <%= f.label :player8 %>
    <%= f.text_field :player8 %>
  </div>
  <div class="field">
    <%= f.label :player9 %>
    <%= f.text_field :player9 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Back', teams_path %>
