<h1>Fantasy March Madness 2011 Standings</h1>
<ul class='teams'>
  <% @teams.sort.each do |team| %>
    <li>
    <ul class='team'>
      <li class='team-title'>
      <%= team.name %>
      </li>
      <li class='team-total'>
      <%= team.total %>
      </li>
    </ul>
    <ul>
      <% team.players.sort.each do |player| %>
        <li class='player'>
        <%= player.name %>
        <ul class='player-points'>
          <% player.games.each do |game| %>
            <li>
            <%= game.points %>
            </li>
          <% end %>
          <li class='player-total'>
            <%= player.total %>
          </li>
        </ul>
        </li>
      <% end %>
    </ul>
    </li>
  <% end %>
</ul>
