<p id="notice"><%= notice %></p>

<p>
  <b>Playerid:</b>
  <%= @player.playerId %>
</p>

<p>
  <b>Name:</b>
  <%= @player.name %>
</p>

<p>
  <b>Team:</b>
  <%= @player.team %>
</p>

<p>
  <b>Alive:</b>
  <%= @player.alive %>
</p>


<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
