<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Player0:</b>
  <%= @team.player0 %>
</p>

<p>
  <b>Player1:</b>
  <%= @team.player1 %>
</p>

<p>
  <b>Player2:</b>
  <%= @team.player2 %>
</p>

<p>
  <b>Player3:</b>
  <%= @team.player3 %>
</p>

<p>
  <b>Player4:</b>
  <%= @team.player4 %>
</p>

<p>
  <b>Player5:</b>
  <%= @team.player5 %>
</p>

<p>
  <b>Player6:</b>
  <%= @team.player6 %>
</p>

<p>
  <b>Player7:</b>
  <%= @team.player7 %>
</p>

<p>
  <b>Player8:</b>
  <%= @team.player8 %>
</p>

<p>
  <b>Player9:</b>
  <%= @team.player9 %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
